.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: rgb(255, 183, 0);
    background-color: #a200ff;
    border-color: #a200ff;
}

.btn-outline-success-2 {
    color: #a200ff;
    border-color: #a200ff;
}

.pos-img {
    position: relative;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
}

.h1 {
    font-size: 3.5em; /* 40px/16=2.5em */
}

.h2 {
    font-size: 3em; /* 40px/16=2.5em */
}